<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-info">Welcome</h1>
        <hr class="my-4">
        <p class="lead text-primary">A car rental service that meets your needs.</p>
    </div>
</div>