.font-available {
    font-size: 1.3em;
    font-weight: 800;
    margin: 0;
    text-align: center;
}

.font-options {
    font-size: 1.5em;
    font-weight: 800;
    margin: 0;
    text-align: center;
}

}
